<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="t69haSAA7K.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Lavy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <t69haSAA7K.Properties.Settings>
            <setting name="rootUrl" serializeAs="String">
                <value>http://lavy.ml</value>
            </setting>
        </t69haSAA7K.Properties.Settings>
        <Lavy.Properties.Settings>
            <setting name="rootUrl" serializeAs="String">
                <value>http://localhost/lavy</value>
            </setting>
        </Lavy.Properties.Settings>
    </userSettings>
</configuration>