<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="STDOUT">
			<PatternLayout
				pattern="%style{%date{DEFAULT}}{yellow}
                [%t] %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green} %logger{36} - %message\n" />
		</Console>
		<RollingFile name="logOutput"
			fileName="Kagu/logs/Kagu.log"
			filePattern="Kagu/logs/Kagu-%d{yyyy-MM-dd}-%i.log.gz"
			maxBackupIndex="1">
			<PatternLayout
				pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="19500KB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="INFO"  additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="logOutput" />
		</Root>
	</Loggers>
</Configuration>