# EntityRenderer
public net.minecraft.client.renderer.EntityRenderer func_175069_a(Lnet/minecraft/util/ResourceLocation;)V # loadShader
public net.minecraft.client.renderer.EntityRenderer func_78479_a(FI)V # setupCameraTransform
public net.minecraft.client.renderer.RenderGlobal field_175015_z # entityOutlineFramebuffer
public net.minecraft.client.renderer.RenderGlobal field_174991_A # entityOutlineShader
public net.minecraft.client.settings.KeyBinding field_74516_a # keybindArray